<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="bookings">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Prenotazioni</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trainers">
      <ion-icon name="fitness-outline"></ion-icon>
      <ion-label>Trainer</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
