<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="dashboard" href="/trainers-tabs/dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sessions" href="/trainers-tabs/sessions">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Allenamenti</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="slots" href="/trainers-tabs/slots">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Slots</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile" href="/trainers-tabs/profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>