<ion-header [translucent]="true">
  <ion-toolbar>
    @if (showBackButton) {
      <ion-buttons slot="start">
        <ion-back-button class="button" [defaultHref]="backHref"></ion-back-button>
      </ion-buttons>
    }
    <ion-title>{{ title }}</ion-title>
    @if (showLogout) {
      <ion-buttons slot="end">
        <ion-button color="tertiary" class="button" (click)="onLogout()">
          <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    }
  </ion-toolbar>
</ion-header>
