ion-header ion-toolbar {
 --background: var(--ion-color-primary) !important;
}

ion-title {
  color: #fff !important;
  text-align: center !important;
  width: 100%;
  justify-content: center;
  display: flex;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.button {
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center; 
  --color: #000000 !important;
  --icon-color: #000000 !important;

    &:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    background: var(--ion-color-secondary-tint) !important;
  }

}




