
.bookings-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); // Crea una griglia con colonne adattive
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background: var(--ion-color-secondary-tint);
  border-radius: 8px;
  width: 95%;
  margin: 1rem auto;
  border: 2px solid var(--ion-color-secondary-shade); 
}

ion-content {
  --background: none;
  background-color: #fff;
  background-image: radial-gradient(#ffd3d3 1.5px, transparent 1.5px);
  background-size: 14px 14px;
}

/* Stile specifico per il pulsante Valuta Trainer */
ion-button[expand="block"] {
  display: flex;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;
  --padding-start: 16px;
  --padding-end: 16px;
  height: 38px; 
  justify-content: center;
  font-size: 14px;
}

ion-button {
  --background: var(--ion-color-primary); 
  --color: #ffffff;
  --border-color: var(--ion-color-primary);
  --border-radius: 8px;
  margin-top: 0.5rem;
  font-weight: 600;
  --box-shadow: 0 2px 4px rgba(var(--ion-color-primary-rgb), 0.15);
  transition: all 0.2s ease;

  &:hover {
    --background: var(--ion-color-primary);
    --color: #fff;
    --box-shadow: 0 4px 8px rgba(var(--ion-color-primary-rgb), 0.25);
    transform: translateY(-2px);
    
  }
}
