/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import '@ionic/angular/css/palettes/dark.system.css'; */

// --- Nasconde un elemento in schermi più piccoli di 768px ---
.ion-hide-md-down {
  @media (max-width: 768px) {
    display: none !important;
  }
}

// --- Alert con bordi arrotondati ---
ion-alert .alert-wrapper {
  border-radius: 16px !important;
}

// -- Forza il colore rosso scuro per l'hover dei bottoni rossi ---
ion-button[color="primary"] {
  &:hover::part(native) {
    background: var(--ion-color-primary-shade) !important;
  }
}

// Sfondo a pois rossi
.dotted-background {
  --background: none;
  background-color: #fff;
  background-image: radial-gradient(#ffd3d3 1.5px, transparent 1.5px);
  background-size: 14px 14px;
}

ion-button[color="tertiary"] {
  &:hover::part(native) {
    background: var(--ion-color-secondary-tint) !important;
  }
  
  &:focus::part(native) {
    background: var(--ion-color-secondary-tint) !important;
  }
}

.app-card {
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  
  &:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    transform: translateY(-3px) scale(1.01);
  }
}
.primary-border {
  border: 2px solid var(--ion-color-primary);
}
  
.secondary-border {
  border: 2px solid var(--ion-color-secondary);
}
  
.tertiary-border {
  border: 2px solid var(--ion-color-tertiary);
}
  
.dark-border {
  border: 2px solid #5f5555;
}

// --- Scrollbar personalizzata
.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 0, 25, 0.815);
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(220, 53, 69, 0.7);
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px;
  }
}

ion-button.app-button {
  --border-radius: 8px;
  font-weight: 500;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --box-shadow: 0 2px 4px rgba(var(--ion-color-primary-rgb), 0.15);
  transition: all 0.2s ease;
  margin-bottom:0.5rem;
}

.sezione-logo {
  text-align: center;
  margin-bottom: 2rem;
  
  ion-icon {
    color: var(--ion-color-primary);
    margin-bottom: 1rem;
    font-size: 48px;
  }
  
  h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: var(--ion-color-primary);
  }

  h2 {
      font-size: 1.3rem;
  }
  
  p {
    margin: 0.5rem 0 0 0;
    color: var(--ion-color-medium);
    font-size: 1rem;
  }
}

/* Empty States */
.app-empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1rem;
  margin: 1rem auto;
  max-width: 500px;
  
  ion-icon {
    font-size: 48px;
    color: var(--ion-color-medium);
    margin-bottom: 1rem;
  }
  
  h3 {
    margin: 0 0 0.5rem;
    font-weight: 600;
    color: var(--ion-color-dark);
  }
  
  p {
    margin: 0 0 1.5rem;
    color: var(--ion-color-medium);
  }
}

.app-scrollable-container {
  overflow-y: auto;
  max-height: 300px;
  padding: 15px;
  border-radius: 8px;
  margin: 1rem 0;
  
  &.tall {
    height: 300px;
  }
  
  &.short {
    height: 140px;
  }
  
  @extend .custom-scrollbar;
}


