<ion-content [fullscreen]="true" class="ion-padding">
    <div class="container-register">
        <!-- Sezione logo -->
        <div class="sezione-logo">
            <ion-icon name="barbell" size="large"></ion-icon>
            <h1>Gym Management</h1>
            <p>Crea il tuo account</p>
        </div>

        <form (ngSubmit)="onRegister()" #registerForm="ngForm">
            <h4>Dati account</h4>
            <div class="colonne-form">
                <ion-list>
                    <!-- Username -->
                    <ion-item>
                        <ion-label position="stacked">Username</ion-label>
                        <ion-input type="text" [(ngModel)]="userData.username" name="username" required
                            [disabled]="isLoading">
                        </ion-input>
                    </ion-item>

                    <!-- Password -->
                    <ion-item>
                        <ion-label position="stacked">Password</ion-label>
                        <ion-input type="password" [(ngModel)]="userData.password" name="password" required
                            [disabled]="isLoading">
                        </ion-input>
                    </ion-item>

                    <!-- Conferma Password -->
                    <ion-item>
                        <ion-label position="stacked">Conferma Password</ion-label>
                        <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required
                            [disabled]="isLoading">
                        </ion-input>
                    </ion-item>
                </ion-list>
                <ion-list>
                    <!-- Email -->
                    <ion-item>
                        <ion-label position="stacked">Email</ion-label>
                        <ion-input type="email" [(ngModel)]="userData.email" name="email" required [disabled]="isLoading">
                        </ion-input>
                    </ion-item>

                    <!-- Nome completo -->
                    <ion-item>
                        <ion-label position="stacked">Nome completo</ion-label>
                        <ion-input type="text" [(ngModel)]="userData.full_name" name="fullName" required
                            [disabled]="isLoading">
                        </ion-input>
                    </ion-item>

                    <!-- Telefono -->
                    <ion-item>
                        <ion-label position="stacked">Telefono</ion-label>
                        <ion-input type="tel" [(ngModel)]="userData.phone" name="phone" required [disabled]="isLoading">
                        </ion-input>
                    </ion-item>
                </ion-list>
            </div>
            
            <!-- CAMPI AGGIUNTIVI PER TRAINER -->
            @if (userData.role === 'trainer') {
                <div class="informazioni">
                    <h4>Informazioni trainer</h4>
                    <div class="fields-row">
                        
                        <!-- Scelta ruolo (per trainer)-->
                         <ion-item>
                            <ion-label position="stacked">Ruolo</ion-label>
                            <ion-select [(ngModel)]="userData.role" interface="alert" 
                            okText="Conferma"
                            cancelText="Annulla"
                            name="role" [disabled]="isLoading">
                                <ion-select-option value="customer">Cliente</ion-select-option>
                                <ion-select-option value="trainer">Trainer</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <!-- Specializzazione -->
                        <ion-item>
                            <ion-label position="stacked">Specializzazione</ion-label>
                            <ion-select [(ngModel)]="userData.specialization" interface="alert"
                            okText="Conferma"
                            cancelText="Annulla" 
                            name="specialization" [disabled]="isLoading">
                                <ion-select-option value="Fitness">Fitness</ion-select-option>
                                <ion-select-option value="Bodybuilding">Bodybuilding</ion-select-option>
                                <ion-select-option value="Yoga">Yoga</ion-select-option>
                                <ion-select-option value="Pilates">Pilates</ion-select-option>
                                <ion-select-option value="Cardio">Cardio</ion-select-option>
                                <ion-select-option value="Crossfit">Crossfit</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </div>
                </div>
            }
            
            <!-- CAMPI AGGIUNTIVI PER CLIENTE -->
            @if (userData.role === 'customer') {
                <div class="informazioni">
                    <h4>Informazioni cliente</h4>
                    <ion-item>
                        <ion-label position="stacked">Ruolo</ion-label>
                        <!-- Scelta ruolo (per cliente)-->
                        <ion-select [(ngModel)]="userData.role" interface="alert" 
                            okText="Conferma"
                            cancelText="Annulla"
                            name="role" [disabled]="isLoading">
                            <ion-select-option value="customer">Cliente</ion-select-option>
                            <ion-select-option value="trainer">Trainer</ion-select-option>
                        </ion-select>
                    </ion-item>
                </div>
            }

            <!-- Messaggio di errore -->
            @if (errorMessage) {
                <div class="errore">
                    <ion-text color="danger">
                        <p>{{ errorMessage }}</p>
                    </ion-text>
                </div>
            }

            <div>
                <!-- Tasto Registrati -->
                <ion-button class="app-button" expand="block" color="primary" type="submit" [disabled]="!registerForm.valid || isLoading">
                    @if (isLoading) {
                        <ion-spinner name="crescent"></ion-spinner>
                    }
                    @if (!isLoading) {
                        <span>Registrati</span>
                    }
                    @if (isLoading) {
                        <span>Registrazione in corso...</span>
                    }
                </ion-button>

                <!-- Tasto Annulla -->
                <ion-button class="app-button" expand="block" fill="clear" (click)="goBack()" [disabled]="isLoading">
                Annulla
                </ion-button>

                <!-- Alternativa login -->
                <div class="testo-login">
                    <p>Hai già un account? <a (click)="goToLogin()">Accedi</a></p>
                </div>
            </div>
        </form>
    </div>
</ion-content>
