.container-register {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem 1rem;
}

// --- Riduce il padding quando lo schermo è più piccolo di 576px ---
@media (max-width: 576px) {
	.container-register {
		padding: 1rem;
	}
}

.sezione-logo {
	text-align: center;
	margin-bottom: 3rem;

	ion-icon {
		color: var(--ion-color-primary);
		margin-bottom: 1rem;
	}

	h1 {
		margin: 0;
		font-size: 2rem;
		font-weight: bold;
		color: var(--ion-color-primary);
	}

	p {
		margin: 0.5rem 0 0 0;
		color: var(--ion-color-medium);
		font-size: 1rem;
	}
}

// --- Riduce margin inferiore e dimensione di h1 quando lo schermo è più piccolo di 576px ---
@media (max-width: 576px) {
	.sezione-logo {
		margin-bottom: 2rem;
		
		h1 {
			font-size: 1.5rem;
		}
	}
}

// --- Stile dei campi form ---
ion-item {
	border-radius: 10px;
	--background: var(--ion-color-light);
	margin-bottom: 1rem;
	box-shadow:
    0px 3px 6px rgba(0,0,0,0.16),
    0px 3px 6px rgba(0,0,0,0.23);
}

ion-button {
	--border-radius: 8px;
	margin-bottom: 1rem;
	font-weight: 500;
	width:50%;
	margin-left: auto;
	margin-right: auto;
	@media (max-width: 576px) {
		width:100%;
	}
}

ion-list {
	background-color: transparent;
	max-width: 400px;
	padding:4px;
	margin:0;
}

// --- Layout a colonne in modalità desktop ---
.colonne-form {
	display: flex;
	justify-content: space-between;
	gap: 16px;

	ion-list {
		flex: 1;
		background-color: transparent;
		margin: 0;
	}

	@media (max-width: 576px) {
		flex-direction: column;
		gap: 0;

		ion-list {
			max-width: none;
			width: 100%;
		}
	}
}

.informazioni {
	margin-bottom: 2rem;
}

.fields-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	gap: 16px;
	margin-bottom: 0rem;
	
	ion-item {
		flex: 1;
		max-width: 49%;
		margin-bottom: 0px;
	}
}

@media (max-width: 576px) {
	.fields-row {
    flex-direction: column;
    gap: 0;

	ion-item {
		max-width: 100%;
		width: 100%;
		margin-bottom: 1rem;
	}

	ion-item:last-child {
      margin-bottom: 0;
    }
  }
}

.errore {
	margin-bottom: 1rem;
	text-align: center;

	p {
		font-size: 0.9rem;
		margin: 0;
	}
}

.testo-login {
	text-align: center;
	margin-top: 1rem;
	
	a {
		color: var(--ion-color-primary);
		text-decoration: none;
		font-weight: 500;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}

ion-spinner {
	margin-right: 8px;
}



