@use '../../shared/theme/forms.shared.scss' as *;

.form-container {
	max-width: 800px;
}

// --- Riduce il padding quando lo schermo è più piccolo di 576px ---
@media (max-width: 576px) {
	.container-register {
		padding: 1rem;
	}
}

ion-button {
	width:50%;
	margin-left: auto;
	margin-right: auto;
	@media (max-width: 576px) {
		width:100%;
	}
}

ion-list {
	background-color: transparent;
	max-width: 400px;
	padding:4px;
	margin:0;
}

// --- Layout a colonne in modalità desktop ---
.colonne-form {
	display: flex;
	justify-content: space-between;
	gap: 16px;

	ion-list {
		flex: 1;
		background-color: transparent;
		margin: 0;
	}

	@media (max-width: 576px) {
		flex-direction: column;
		gap: 0;

		ion-list {
			max-width: none;
			width: 100%;
		}
	}
}

.informazioni {
	margin-bottom: 2rem;
}

.fields-row {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100%;
	gap: 16px;
	margin-bottom: 0rem;
	
	ion-item {
		flex: 1;
		max-width: 49%;
		margin-bottom: 0px;
	}
}

@media (max-width: 576px) {
	.fields-row {
    flex-direction: column;
    gap: 0;

	ion-item {
		max-width: 100%;
		width: 100%;
		margin-bottom: 1rem;
	}

	ion-item:last-child {
      margin-bottom: 0;
    }
  }
}

.testo-login {
	text-align: center;
	margin-top: 1rem;
	
	a {
		color: var(--ion-color-primary);
		text-decoration: none;
		font-weight: 500;
		cursor: pointer;
		&:hover {
			text-decoration: underline;
		}
	}
}

ion-spinner {
	margin-right: 8px;
}



