<app-header 
  title="Profilo"
  [backHref]="'customer/dashboard'">
</app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  @if (isLoading) {
    <app-loading-spinner 
      [message]="'Caricamento...'">
    </app-loading-spinner>
  }

  @if (!isLoading) {
    <!-- Sezione profilo -->
    <ion-card class="profile-card app-card secondary-border">

      <!-- Avatar e nome utente -->
      <ion-card-header>
        <ion-avatar class="profile-avatar">
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-card-title class="ion-text-center">{{ customerData?.full_name }}</ion-card-title>
        <div class="ion-text-center role-badge">Customer</div>
      </ion-card-header>

      <ion-card-content>
        
        <ion-list lines="none">
          
          <!-- Username -->
           <detail-card 
            title="Username" 
            [rows]="[
              { icon: 'person', description: userData.username || 'Non disponibile' },
            ]">
          </detail-card>

          <!-- Email -->
          <detail-card 
            title="Email" 
            [rows]="[
              { icon: 'mail-outline', description: customerData?.email || 'Non disponibile' },
            ]">
          </detail-card>

          <!-- N. telefono -->
          <detail-card 
            title="Telefono" 
            [rows]="[
              { icon: 'call-outline', description: customerData?.phone || 'Non disponibile' },
            ]">
          </detail-card>

        </ion-list>
      </ion-card-content>
    </ion-card>
  }

</ion-content>
