<app-header 
  title="Profilo"
  [backHref]="'customer/dashboard'">
</app-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <app-loading-spinner 
    *ngIf="isLoading" 
    [message]="'Caricamento...'">
  </app-loading-spinner>

  <div *ngIf="!isLoading">

    <!-- Sezione profilo -->
    <ion-card class="profile-card app-card secondary-border">

      <!-- Avatar e nome utente -->
      <ion-card-header>
        <ion-avatar class="profile-avatar">
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-card-title class="ion-text-center">{{ userData?.full_name }}</ion-card-title>
        <div class="ion-text-center role-badge">Customer</div>
      </ion-card-header>

      <ion-card-content>
        
        <ion-list lines="none">
          
          <!-- Email -->
          <ion-item>
            <ion-icon name="mail-outline" slot="start" color="primary"></ion-icon>
            <ion-label>
              <p>Email</p>
              <h3>{{ userData?.email || 'Non disponibile' }}</h3>
            </ion-label>
          </ion-item>

          <!-- N. telefono -->
          <ion-item>
            <ion-icon name="call-outline" slot="start" color="primary"></ion-icon>
            <ion-label>
              <p>Telefono</p>
              <h3>{{ userData?.phone || 'Non disponibile' }}</h3>
            </ion-label>
          </ion-item>

        </ion-list>
      </ion-card-content>
    </ion-card>

    
  </div>

</ion-content>
