<!-- Header -->
<app-header 
  title="Dashboard Trainer"
  [backHref]="'.'">
</app-header>

<ion-content class="ion-padding">

  <!-- Refresher mobile -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Mostrato durante il caricamento -->
  @if (isLoading) {
    <app-loading-spinner 
      [message]="'Caricamento dashboard...'">
    </app-loading-spinner>
  }

  <!-- Sezione benvenuto -->
  @if (dashboardData) {
    <div class="dashboard-wrapper">
      <ion-card class="welcome-card">

        <ion-card-header>
          <ion-card-title>Benvenuto, {{ dashboardData.trainer_info.full_name }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="welcome-content">

            <div class="left-content">

              <div class="welcome-message">
                <ion-icon name="barbell" color="primary"></ion-icon>
                <span>Pronto a motivare i tuoi clienti oggi?</span>
              </div>
              <p class="trainer-role">Trainer • {{ dashboardData.trainer_info.specialization }}</p>

            </div>
            
            <div class="welcome-stats">

              <!-- Slot futuri -->
              <div class="stat2">
                <ion-icon name="calendar-outline" color="danger"></ion-icon>
                <span>{{ dashboardData.upcoming_sessions.length }}</span>
                <p>Slot futuri</p>
              </div>

              <!-- Media rating -->
              <div class="stat2">
                <ion-icon name="star-outline" color="danger"></ion-icon>
                <span>{{ calculateAverageRating(dashboardData) }}</span>
                <p>Media Ratings</p>
              </div>

            </div>

          </div>
        </ion-card-content>

      </ion-card>
    </div>
  }

  <!-- Sezione prossimi allenamenti -->
  @if (dashboardData && dashboardData.upcoming_sessions.length > 0) {
    <ion-card class="ion-card-dashboard">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="calendar-outline" color="primary"></ion-icon>
          Prossimi Allenamenti <small>(max 9)</small>
        </ion-card-title>
      </ion-card-header>
      
      <ion-card-content>

        <!-- Mostrato se ci sono allenamenti futuri -->
        @if (!isLoading && dashboardData.upcoming_sessions.length > 0) {
        <div class="sessions-container tall custom-scrollbar">
            @for (slot of dashboardData.upcoming_sessions.slice(0, 9); track slot.id) {
              
              <detail-card
              [title]='dashboardData.trainer_info.full_name'
              [rows]="[
                { icon: 'calendar-outline', description: (slot.start_time | date:'dd/MM/yyyy') || 'Data non disponibile' },
                { icon: 'time-outline', description: slot.adjustedStartTimeOnly + ' - ' + slot.adjustedEndTimeOnly },
                { icon: 'fitness-outline', description: dashboardData.trainer_info.specialization}
              ]">
              </detail-card>
                
              

              
                <!-- <div class="session-item"></detail-card>
                <h2>{{ dashboardData.trainer_info.full_name }}</h2>
                <p>
                  <ion-icon name="calendar-outline"></ion-icon>
                  {{ slot.adjustedStartDate }}
                </p>

                <p>
                  <ion-icon name="time-outline"></ion-icon>
                  {{ slot.adjustedStartTimeOnly }} - {{ slot.adjustedEndTimeOnly }}
                </p>

                <p>
                  <ion-icon name="fitness-outline"></ion-icon>
                  {{ dashboardData.trainer_info.specialization }}
                </p>

              </div> -->
            }
          </div>
        }
      </ion-card-content>
    </ion-card>
  }

  @if (dashboardData && dashboardData.upcoming_sessions.length === 0) {
  <app-empty-state 
    title="Nessun allenamento programmato"
    description="Crea uno slot per iniziare."
    buttonText="Crea slot"
    buttonLink="../slots">
  </app-empty-state>
  }

  <!-- Collegamenti -->
  <div class="actions-row">

    <!-- Collegamento ad "Allenamenti" -->
    <ion-item button detail routerLink="../sessions" class="action-item">
      <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label class="ion-text-center">
        <h2>Visualizza allenamenti</h2>
        <p>Tutti gli allenamenti schedulati</p>
      </ion-label>
    </ion-item>

    <!-- Collegamento a "Slots" -->
    <ion-item button detail routerLink="../slots" class="action-item">
      <ion-icon name="add-circle-outline" slot="start" color="primary"></ion-icon>
      <ion-label class="ion-text-center">
        <h2>Crea uno slot</h2>
        <p>Aggiungi nuovi slot disponibili</p>
      </ion-label>
    </ion-item>

    <!-- Collegamento a "Profilo" -->
    <ion-item button detail routerLink="../profile" class="action-item">
      <ion-icon name="star-outline" slot="start" color="primary"></ion-icon>
      <ion-label class="ion-text-center">
        <h2>Visualizza recensioni</h2>
        <p>Tutte le recensioni ricevute dai clienti</p>
      </ion-label>
    </ion-item>

  </div>

</ion-content>
