<app-header 
  title="Profilo"
  [backHref]="'trainer/dashboard'">
</app-header>

<ion-content [fullscreen]="true" class="ion-padding dotted-background">

  @if (isLoading) {
    <app-loading-spinner 
      [message]="'Caricamento...'">
    </app-loading-spinner>
  }

  @if (error) {
    <div class="error-container">
      <ion-card class="profile-card app-card secondary-border" color="danger">
        <ion-card-content>{{ error }}</ion-card-content>
      </ion-card>
      <ion-button expand="block" (click)="loadUserData()">Riprova</ion-button>
    </div>
  }

  @if (!isLoading && !error) {

    <!-- Sezione profilo -->
    <ion-card class="profile-card app-card secondary-border">

      <!-- Avatar e nome utente -->
      <ion-card-header>
        <ion-avatar class="profile-avatar">
          <ion-icon name="person-circle-outline" size="large"></ion-icon>
        </ion-avatar>
        <ion-card-title class="ion-text-center">{{ userData?.full_name || userData?.username || 'Utente' }}</ion-card-title>
        <div class="ion-text-center role-badge">Trainer</div>
      </ion-card-header>

      <ion-card-content>

        <ion-list lines="none">

          <!-- Username -->
           <detail-card 
            title="Username" 
            [rows]="[
              { icon: 'person', description: userData?.username || 'Non disponibile' },
            ]">
          </detail-card>

          <!-- Email -->
          <detail-card 
            title="Email" 
            [rows]="[
              { icon: 'mail-outline', description: userData?.email || 'Non disponibile' },
            ]">
          </detail-card>

          <!-- Specializzazione -->
          <detail-card 
            title="Specializzazione" 
            [rows]="[
              { icon: 'fitness-outline', description: trainerData?.trainer_info?.specialization || userData?.specialization || 'Non disponibile' },
            ]">
          </detail-card>

        </ion-list>
      </ion-card-content>
    </ion-card>

    @if (trainerData.ratings.length === 0) {
      <app-empty-state 
        icon="time-outline"
        title="Nessuna recensione"
        description="Le tue recensioni saranno visualizzate qui">
      </app-empty-state>
    }

    <!-- Sezione recensioni -->
    @if (trainerData && trainerData.ratings && trainerData.ratings.length > 0) {
      <ion-card class="profile-card app-card secondary-border">
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="star-outline" color="danger"></ion-icon>
            Le tue recensioni
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <!-- Lista delle recensioni -->
            <div class="reviews-list custom-scrollbar">
              @for (review of trainerData.ratings; track $index) {
                <div class="review-card">
                  <div class="review-header">
                    <div class="customer-name"><strong>DA:</strong> {{ review.customer_name }}</div>
                    <div class="review-date">{{ formatDate(review.date) }}</div>
                  </div>
                  
                  <div class="rating">
                    <div class="stars">
                      @for (star of generateStars(review.rating); track $index) {
                        <ion-icon 
                                [name]="star.filled ? 'star' : 'star-outline'" 
                                color="warning">
                        </ion-icon>
                      }
                    </div>
                    <span class="rating-text"><strong>Rating:</strong> {{ review.rating }}/5</span>
                  </div>
                  
                  @if (review.review) {
                    <div class="review-comment">
                      <p><strong>Review:</strong> {{ review.review }}</p>
                    </div>
                  }
                </div>
              }
            </div>
          </ion-card-content>
        
      </ion-card>
    }

  }
</ion-content>
