<ion-content [fullscreen]="true">
  <div>
    <div>
      <ion-icon name="fitness-outline" size="large"></ion-icon>
      <h1>GyManagement</h1>
    </div>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Benvenuto nella piattaforma</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          L'applicazione è pensata come la simulazione di una palestra con più Personal Trainer (PT)
          e vari clienti (C), oppure admin.
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Funzionalità principali</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-icon name="person-add-outline" slot="start" color="primary"></ion-icon>
            <ion-label>Ogni cliente/trainer può fare il login o registrarsi come PT/C</ion-label>
          </ion-item>

          <ion-item>
            <ion-icon name="shield-outline" slot="start" color="danger"></ion-icon>
            <ion-label>Admin può visualizzare tutti i PT e C</ion-label>
          </ion-item>

          <ion-item>
            <ion-icon name="calendar-outline" slot="start" color="success"></ion-icon>
            <ion-label>PT possono vedere una dashboard, vedere gli allenamenti schedulati o creare un nuovo training
              slot</ion-label>
          </ion-item>

          <ion-item>
            <ion-icon name="people-outline" slot="start" color="tertiary"></ion-icon>
            <ion-label>Clienti possono vedere una dashboard, vedere i trainers disponibili e i loro slot. Possono
              prenotare una sessione di allenamento e dare un voto al proprio PT</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" (click)="goToLogin()" class="login-button">
      Accedi
    </ion-button>

    <div class="register-link">
      <p>Non hai un account? <a [routerLink]="['/register']">Registrati</a></p>
    </div>
  </div>
</ion-content>
