@media (max-width: 992px) {
	.sezione-logo {
    margin-bottom: 2rem;

		h1 {
			font-size: 1.5rem;
		}
    
    h2 {
      font-size: 1.1rem;
    }

    p {
      font-size: 0.9rem;
    }
	}
}

// --- Diminuisce lo spazio orizzontale a disposizione per schermi più larghi di 1366px ---
@media (min-width: 1366px) {
  .responsive-70 {
    width: 70%;
  }
}

// --- Diminuisce lo spazio orizzontale a disposizione per schermi più larghi di 992px ---
@media (min-width: 992px) {
  .responsive-18 {
    width: 18%;
  }
}

ion-card {
  box-shadow:
  0px 3px 6px rgba(0,0,0,0.16),
  0px 3px 6px rgba(0,0,0,0.23);
  border-radius:10px;
  transition: transform 0.15s;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;

  &:hover {
    transform: translateY(-4px) scale(1.02);
  }
}

ion-card-content ion-label {
  --color:var(--ion-color-medium);
  font-size:1rem;
}

.icon-margin-right {
  margin-right: 15px;
}

.titolo-lista {
  font-weight: bold;
  font-size: 1em;
}

.descrizione-lista {
  color: var(--ion-color-medium);
  font-size: 0.92em;
  margin-top: 2px;
  margin-bottom: 2px;
}

ion-content {
  --background: none;
  background-color: #fff;
  background-image: radial-gradient(#ffd3d3 1.5px, transparent 1.5px);
  background-size: 14px 14px;
}

// --- Sfondo bianco per il testo su sfondo a puà rosso ---
.highlight-text {
  background: rgba(255,255,255,0.95);
  display: inline-block;
  box-shadow: none;
  max-width: 90vw;
}

// --- Rende tutte le landing card della stessa altezza a prescindere dal contenuto ---
ion-row {
  display: flex;
  align-items: stretch;
}

ion-col {
  display: flex;
  flex-direction: column;
}

ion-button {
  margin-left:5px;
  margin-right:5px;
}

.bottoni-auth {
  display: flex;
  justify-content: center;
  margin: 1.5em 0;
}

// --- Mette i bottoni in colonna anzichè in fila se lo schermo è più piccolo di 922px ---
@media (max-width: 992px) {
  .bottoni-auth {
    flex-direction: column;
    align-items: stretch;
  }
}

.landing-card-admin {
  border:2px solid var(--ion-color-secondary);
}

.landing-card-trainer {
  border:2px solid var(--ion-color-primary);
}

.landing-card-client {
  border:2px solid var(--ion-color-tertiary);
}