<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-justify-content-center ion-text-center ion-padding">
    
    <!-- Sezione con logo, motto e sottotitolo -->
    <div class="sezione-logo">
      <ion-icon name="barbell" size="large"></ion-icon>
      <h1>GyManagement</h1>
      <h2 class="highlight-text">Gestisci la tua palestra, allena i tuoi clienti, raggiungi i tuoi obbiettivi.</h2><br>
      <p color="medium" class="highlight-text">Pensato per personal trainer, clienti e amministratori di palestre.</p>
    </div>

    <!-- Grid per rendere le card responsive (in riga se schermo lo permette, altrimenti in colonna) -->
    <ion-grid class="responsive-70">
      <ion-row>

        <!-- Landing card clienti -->
        <ion-col size="12" size-lg="4">
          <ion-card class="landing-card-client">
            <ion-card-header>
              <ion-card-title color="tertiary"><span class="titolo-lista">Per i clienti</span></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list lines="full">

                <ion-item lines="none" class="item-custom">
                  <ion-icon name="list-outline" slot="start" color="tertiary"></ion-icon>
                  <ion-label>
                    <div>
                      <span class="titolo-lista">Prenota le tue sessioni di allenamento</span>
                      <div class="descrizione-lista">
                        Prenota facilmente le sessioni di allenamento scegliendo la data e l'orario che preferisci.
                      </div>
                    </div>
                  </ion-label>
                </ion-item>

                <ion-item lines="none" class="item-custom">
                  <ion-icon name="accessibility-outline" slot="start" color="tertiary"></ion-icon>
                  <ion-label>
                    <div>
                      <span class="titolo-lista">Scegli il trainer che vuoi</span>
                      <div class="descrizione-lista">
                        Visualizza i profili dei trainer disponibili e prenota uno slot con quello che preferisci.
                      </div>
                    </div>
                  </ion-label>
                </ion-item>

                <ion-item lines="none" class="item-custom">
                  <ion-icon name="calendar-outline" slot="start" color="tertiary"></ion-icon>
                  <ion-label>
                    <div>
                      <span class="titolo-lista">Visualizza i tuoi allenamenti programmati</span>
                      <div class="descrizione-lista">
                        Consulta facilmente le date dei tuoi allenamenti e gli orari.
                      </div>
                    </div>
                  </ion-label>
                </ion-item>

              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Landing card trainer -->
        <ion-col size="12" size-lg="4">
          <ion-card class="landing-card-trainer">
            <ion-card-header>
              <ion-card-title color="tertiary"><span class="titolo-lista">Per i trainer</span></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list lines="full">

                <ion-item lines="none" class="item-custom">
                  <ion-icon name="apps-outline" slot="start" color="primary"></ion-icon>
                  <ion-label>
                    <div>
                      <span class="titolo-lista">Crea i tuoi training slot</span>
                      <div class="descrizione-lista">
                        Crea sessioni di allenamento personalizzate e rendile disponibili per i tuoi clienti.
                      </div>
                    </div>
                  </ion-label>
                </ion-item>

                <ion-item lines="none" class="item-custom">
                  <ion-icon name="calendar-outline" slot="start" color="primary"></ion-icon>
                  <ion-label>
                    <div>
                      <span class="titolo-lista">Consulta la tua agenda</span>
                      <div class="descrizione-lista">
                        Visualizza appuntamenti e sessioni di allenamento direttamente dal calendario integrato.
                      </div>
                    </div>
                  </ion-label>
                </ion-item>
              </ion-list>

              <ion-item lines="none" class="item-custom">
                  <ion-icon name="star-half-outline" slot="start" color="primary"></ion-icon>
                  <ion-label>
                    <div>
                      <span class="titolo-lista">Visualizza le tue recensioni</span>
                      <div class="descrizione-lista">
                        Consulta le recensioni dei tuoi clienti per migliorare il tuo servizio e la tua reputazione.
                      </div>
                    </div>
                  </ion-label>
                </ion-item>

            </ion-card-content>
          </ion-card>
        </ion-col>

        <!-- Landing card admin -->
        <ion-col size="12" size-lg="4">
          <ion-card class="landing-card-admin">
            <ion-card-header>
              <ion-card-title color="tertiary"><span class="titolo-lista">Per gli amministratori</span></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list lines="full">

                <ion-item lines="none" class="item-custom">
                  <ion-icon name="accessibility-outline" slot="start" color="secondary"></ion-icon>
                  <ion-label>
                    <div>
                      <span class="titolo-lista">Visualizza i trainer</span>
                      <div class="descrizione-lista">
                        Gestisci e visualizza l'elenco dei trainer della tua palestra.
                      </div>
                    </div>
                  </ion-label>
                </ion-item>

                <ion-item lines="none" class="item-custom">
                  <ion-icon name="people-outline" slot="start" color="secondary"></ion-icon>
                  <ion-label>
                    <div>
                      <span class="titolo-lista">Visualizza la clientela</span>
                      <div class="descrizione-lista">
                        Gestisci e visualizza l'elenco dei clienti della tua palestra.
                      </div>
                    </div>
                  </ion-label>
                </ion-item>

                <ion-item lines="none" class="item-custom">
                  <ion-icon name="stats-chart-outline" slot="start" color="secondary"></ion-icon>
                  <ion-label>
                    <div>
                      <span class="titolo-lista">Visualizza il numero di utenti iscritti</span>
                      <div class="descrizione-lista">
                        Consulta il numero totale di utenti registrati nella tua palestra e le loro informazioni.
                      </div>
                    </div>
                  </ion-label>
                </ion-item>

              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>

    <!-- Tasti login e register -->
    <div class="bottoni-auth">
      <ion-button expand="block" color="primary" (click)="goToLogin()" class="responsive-18">
        Accedi
      </ion-button>
      <ion-button expand="block" color="primary" [routerLink]="['/register']" class="responsive-18">
        Registrati
      </ion-button>
    </div>

  </div>
</ion-content>
