<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-justify-content-center ion-text-center ion-padding">
    <div>
      <ion-icon name="fitness-outline" size="large" color="primary"></ion-icon>
      <h1>GyManagement</h1>
    </div>
    <div>
    <h2>Gestisci la tua palestra, allena i tuoi clienti, raggiungi i tuoi obbiettivi.</h2>
        <p class="ion-color-medium">Pensato per personal trainer, clienti e amministratori di palestre.</p>
    </div>
    <ion-grid class="responsive-70">
      <ion-row>
        <ion-col size="12" size-md="4">
          <ion-card class="shadow-material2">
            <ion-card-header>
              <ion-card-title>Per i clienti:</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list lines="full">
                <ion-item>
                  <ion-label>
                    <p>Visualizza i tuoi piani di allenamento</p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <p>Monitora i tuoi progressi</p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <p>Comunica con il tuo trainer</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="4">
          <ion-card class="shadow-material2">
            <ion-card-header>
              <ion-card-title>Per i trainer:</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list lines="full">
                <ion-item>
                  <ion-label>
                    <p>Gestisci i tuoi clienti</p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <p>Crea piani di allenamento</p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <p>Monitora i progressi</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="12" size-md="4">
          <ion-card class="shadow-material2">
            <ion-card-header>
              <ion-card-title>Per gli amministratori:</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list lines="full">
                <ion-item>
                  <ion-label>
                    <p>Gestisci i tuoi trainer</p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <p>Gestisci la clientela</p>
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>
                    <p>Monitora le performance della palestra</p>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-button expand="block" (click)="goToLogin()" class="responsive-70 shadow-material2">
      Accedi
    </ion-button>

    <div>
      <p>Non hai un account? <a [routerLink]="['/register']">Registrati</a></p>
    </div>
  </div>
</ion-content>
