.welcome-card {
  margin-bottom: 32px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  background: var(--ion-color-secondary-tint) !important;
  border: 2px solid var(--ion-color-secondary-shade);
  transition: box-shadow 0.3s, transform 0.3s;

  ion-card-title,
  p {
    color: #111;
  }
}

.stats-container {
  display: flex;
  flex-direction: row; 
  gap: 16px;
  margin-bottom: 32px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

  .stat-card {
    
    flex: 1 1 0;
    min-width: 0;
    min-height: 140px;
    display: flex;
    border: 2px solid var(--ion-color-secondary-shade);
    background: var(--ion-color-secondary-tint) !important;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    box-shadow:
      0px 3px 6px rgba(0,0,0,0.16),
      0px 3px 6px rgba(0,0,0,0.23);
    transition: transform 0.15s, box-shadow 0.15s;
    cursor: pointer;

    &:hover {
      cursor: default;
      transform: translateY(-4px) scale(1.02);
      box-shadow:
        0px 3px 6px rgba(0,0,0,0.16),
        0px 3px 6px rgba(0,0,0,0.23),
        0 4px 18px rgba(17, 0, 253, 0.12);
      background: var(--ion-color-secondary-tint) !important;
      transition: background 0.2s, box-shadow 0.15s;
    }

    ion-icon {
      margin-top: 12px;
      margin-bottom: 8px;
    }

    ion-card-header,
    ion-card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }
}

.actions-row {
  display: flex;
  flex-direction: column;
  gap: 16px; 
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  .action-item {
    flex: 1;
    border-radius: 12px !important;
    --border-radius: 12px !important;
    min-height: 48px; 
    padding: 0px;
    display: flex;
    border: 2px solid var(--ion-color-secondary-shade);
    background: var(--ion-color-secondary-tint) !important;
    align-items: center;
    transition: box-shadow 0.15s, transform 0.15s, background 0.2s, border-radius 0.2s;
    --inner-border-width: 0 !important;
    overflow: hidden; 
    box-shadow:
      0px 3px 6px rgba(0,0,0,0.16),
      0px 3px 6px rgba(0,0,0,0.23);

    &:hover {
      --background: var(--ion-color-secondary-tint) !important;
      background: var(--ion-color-secondary-tint) !important;
      box-shadow: 0 4px 18px rgba(0, 0, 0, 0.12);
      transform: translateY(-4px) scale(1.02);
      border-radius: 12px !important;
      --border-radius: 12px !important;
      --inner-border-width: 0 !important;
      transition: background 0.2s, border-radius 0.15s;
      border: 2px solid var(--ion-color-secondary-shade);

    }

    ion-icon {
      margin-right: 12px;
      font-size: 32px; 
      margin-top: 0;
    }
  }
}

ion-card-header {
  padding-bottom: 8px;
}

ion-card-content {
  padding-top: 0;
}

ion-icon {
  font-size: 36px;
  color: var(--ion-color-primary);
  margin-bottom: 8px;
}

ion-card-title {
  font-size: 24px;
  font-weight: bold;
}

p {
  margin: 0;
  color: var(--ion-color-medium);
}

ion-list {
  margin-top: 16px;

  ion-item {
    --border-radius: 8px;
    margin-bottom: 8px;

    h2 {
      font-weight: 500;
      margin-bottom: 4px;
    }

    p {
      margin: 0;
      color: var(--ion-color-medium);
    }
  }
}

ion-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  overflow-y: auto;
}

.dashboard-wrapper {
  width: 100%;
  margin: 40px auto;
  padding: 0 32px;          

  @media (min-width: 768px) {
    width: 70%;
    margin: 56px auto;
    padding: 0 80px;        
  }
}

.stats-container,
.actions-row,
.dashboard-wrapper {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .stats-container,
  .actions-row,
  .dashboard-wrapper {
    max-width: 700px;
  }
}

ion-button[color="tertiary"] {
  border-radius: 50% !important;
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

ion-toolbar ion-button[color="tertiary"] ion-icon {
  color: var(--ion-color-tertiary) !important; 
}

ion-content {
  --background: none;
  background-color: #fff;
  background-image: radial-gradient(#ffd3d3 1.5px, transparent 1.5px);
  background-size: 14px 14px;
}

ion-title {
  text-align: center !important;
  width: 100%;
  justify-content: center;
  display: flex;
}
